* {
  font-size: 24pt;
}
.popular-list__item {
  width: 100%;
}
.dwolla-iav-link {
  padding: padding: 30px 0px;
  text-align: center;
  font-size: ;
}
.island__column {
  width: 100%;
}
.yodlee-bank-logo {
  min-height: 0;
}
.dwolla-iav-text-box {
  font-size: 24pt;
}
